// Styling for the speedball section

#speedball .window img {
  border-top: 3px solid $primary;
  border-bottom: 3px solid $primary;
}

.speedball-heading {
  margin: 15px 0;
  text-transform: none;
}

.speedball-story {
  margin: 15px 0;
  img {
    display: block;
    margin: 15px 0;
    width: 97%;
  }
  div {
    width: 97%;
  }
  h1, h2, h3, h4, h5, h6 {
    text-align: center;
  }
  p::first-letter {
    display: inline-block;
    margin-left: 1em;
  }
}
