---
layout: default
---

    <!-- Header -->
    {% for i in (1..2) -%}
    <header class="masthead {% cycle 'fixed', 'unfixed' %}">
      <div class="container">
        <div class="intro-text">
          <div class="intro-heading">
          {%- for line in site.data.default.brand.intro.feedback -%}
            {% assign words = line | split: " " %}
            <div class="intro-line">
            {%- for w in words -%}<span class="intro-line-{{ w | slugify }}">{{ w }}</span> {% endfor -%}
            </div>
          {%- endfor -%}
          </div>
        </div>
      </div>
    </header>
    {% endfor -%}

    <!-- Dark -->
    <main>

    <!-- Feedback -->
    <section id="feedback">
      <iframe src="https://embed-967750792.sleekplan.app/#/feedback/" sandbox="allow-same-origin allow-scripts allow-forms">
      </iframe>
    </section>

    </main>
