---
layout: default
---

    <!-- Header -->
    {% for i in (1..2) -%}
    <header class="masthead {% cycle 'fixed', 'unfixed' %}">
      <div class="container">
        <div class="intro-text">
          <div class="intro-heading">
          {%- for line in site.data.default.brand.intro.heading -%}
            {% assign words = line | split: " " %}
            <div class="intro-line">
            {%- for w in words -%}<span class="intro-line-{{ w | slugify }}">{{ w }}</span> {% endfor -%}
            </div>
          {%- endfor -%}
          </div>
        </div>
      </div>
    </header>
    {% endfor -%}

    <!-- Dark -->
    <main>

    <!-- Grit -->
    <section id="grit">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">
            {%- if site.data.default.brand.grit.steamurl == "" -%}
              {{ site.data.default.brand.grit.heading }}
            {%- else -%}
              {{ site.data.default.brand.grit.heading }} <a class="fab fa-steam" title="Play {{ site.data.default.brand.grit.heading }} on SteamVR&trade;" href="{{ site.data.default.brand.grit.steamurl }}"></a>
            {%- endif -%}
            </h2>
            <h3 class="section-subheading text-muted">{{ site.data.default.brand.grit.subheading }}</h3>
          </div>
        </div>
        <div class="window row">
          {%- for item in site.data.default.brand.grit.items -%}
          {%- capture markdown -%}{%- include {{ item.include }} -%}{%- endcapture -%}
          <div class="col-sm-12">
            <div class="grit-item">
              <img class="mx-auto" src="{{ site.assets_path }}{{ item.img }}" alt="{{ item.alt }}">
              <div class="mx-auto">{{ markdown | markdownify }}</div>
            </div>
          </div>
          {%- endfor -%}
        </div>
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <p class="large text-muted">{{ site.data.default.brand.grit.text }}</p>
          </div>
        </div>
      </div>
    </section>

    </main>
