---
layout: default
---

    <!-- Header -->
    {% for i in (1..2) -%}
    <header class="masthead {% cycle 'fixed', 'unfixed' %}">
      <div class="container">
        <div class="intro-text">
          <div class="intro-heading">
          {%- for line in site.data.default.brand.intro.heading -%}
            {% assign words = line | split: " " %}
            <div class="intro-line">
            {%- for w in words -%}<span class="intro-line-{{ w | slugify }}">{{ w }}</span> {% endfor -%}
            </div>
          {%- endfor -%}
          </div>
        </div>
      </div>
    </header>
    {% endfor -%}

    <!-- Dark -->
    <main>

    <!-- :heart: Speedball -->
    <section id="speedball">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">{{ site.data.default.brand.speedball.heading }}</h2>
            <h3 class="section-subheading text-muted">{{ site.data.default.brand.speedball.subheading }}</h3>
          </div>
        </div>
        <div class="window row">
          {%- for story in site.data.default.brand.speedball.stories -%}
          {%- capture markdown -%}{%- include {{ story.include }} -%}{%- endcapture -%}
          <div class="col-sm-12">
            <div class="speedball-story">
              <img class="mx-auto" src="{{ site.assets_path }}{{ story.img }}" alt="{{ story.alt }}">
              <div class="mx-auto">{{ markdown | markdownify }}</div>
            </div>
          </div>
          {%- endfor -%}
        </div>
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <p class="large text-muted">{{ site.data.default.brand.speedball.text }}</p>
          </div>
        </div>
      </div>
    </section>

    <!-- Connect -->
    <section id="connect">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">{{ site.data.default.brand.connect.heading }}</h2>
            <h3 class="section-subheading text-muted">{{ site.data.default.brand.connect.subheading }}</h3>
          </div>
        </div>
      </div>
    </section>

    </main>
